In [1]:
# testGroupBy.ipynb
import pandas as pd

df = pd.read_csv('c:\\work2\\gapminder.tsv', sep= '\t')

In [2]:
avg_life_exp_by_year = df.groupby('year').lifeExp.mean()
print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [3]:
year = df.year.unique()
print(year)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [7]:
#분할(필터링)
y1952 = df.loc[df.year == 1952 ,:]
print(y1952.head())

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
12      Albania    Europe  1952   55.230   1282697  1601.056136
24      Algeria    Africa  1952   43.077   9279525  2449.008185
36       Angola    Africa  1952   30.015   4232095  3520.610273
48    Argentina  Americas  1952   62.485  17876956  5911.315053

In [6]:
y1952_mean = y1952.lifeExp.mean()
print(y1952_mean)

49.057619718309866

In [19]:
y1957 = df.loc[df.year == 1957, :]
y1957_mean = y1957.lifeExp.mean()
print(y1957_mean)

51.50740112676056

In [9]:
y1962 = df.loc[df.year==1962,:]
y1962_mean = y1962.lifeExp.mean()
print(y1962_mean)

53.609249014084504

In [10]:
y2007 = df.loc[df.year == 2007,:]
y2007_mean = y2007.lifeExp.mean()
print(y2007_mean)

67.00742253521126

In [20]:
#결합하는 단계
df2 = pd.DataFrame({'year':[1952,1957,1962,2007],
    'myMean':[y1952_mean,y1957_mean,y1962_mean,y2007_mean]})
print(df2)

   year     myMean
0  1952  51.507401
1  1957  51.507401
2  1962  53.609249
3  2007  67.007423

In [17]:
#직접 집계 함수를 정의 
def my_mean(values):
    n = len(values)
    sum = 0
    for value in values:
        sum += value
    return sum / n

In [18]:
agg_my_mean =df.groupby('year').lifeExp.agg(my_mean)
print(agg_my_mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64